# Ignore build output
target/

# Ignore IDE/editor files
.idea/
*.iml
*.classpath
*.project
.settings/

# Ignore OS junk files
.DS_Store
Thumbs.db

# Ignore archives
*.zip
*.tar
*.tar.gz
*.jarO
# Maven / Java
target/
*.class
*.log
*.jar

# Python venv (Task 1)
.venv/
venv/
__pycache__/

# OS/editor
.DS_Store
*.swp
